.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.message-author {
    font-weight: bold;
    margin: 0px;
}
.message-timestamp {
    font-size: 12px;
    margin: 0px;
}
.list-group > .active{
    background-color: lightsteelblue;
    border: 0px;
    color: black;
    font-weight: bold;
}